$primary-color: red;
$white-color: white;
$color-prime-product: rgb(208, 2, 28);
$color-a-hover: #b68564;
$background-color: rgb(236, 236, 237);
$background-hover: rgb(83, 85, 97);
$background-hover-opacity: rgb(83, 85, 97, 0.9);
$background-login: rgb(249, 249, 249);

$color1: #b1c0c6;
$color2: #eeeeee;
$color3: #d3dde2;


$rimary-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;

$wrapper: 1920px;
$container: 1200px;


$purple: #28254C;
$l-purple: #332F63;
$t-purple: #8C8AA7;
$pink: #FF5E65;
$white: #fff;