<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Call Video</title>
  <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
  <div class="from_video">
    <video id="from_video"></video>
    <div class="to_video">
      <video id="to_video"></video>
    </div>
  </div>
  <div>
    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7; display: inline-block; width: 100%">
      <span>hi</span>
    </p>
  </div>
  <div>
    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7; display: inline-block; width: 100%">
      <span>hi</span>
    </p>
  </div>
  <div>
    <p style="text-align: left; margin-left: 20px">
      <span>The Manager</span>
    </p>
    <div style="text-align: right">
      <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: rgb(245, 246, 247); display: inline-block">
        hi
      </p>
    </div>
    <p class="small me-3 mb-3 rounded-3 text-muted float-end">
      <span>01/12/2023 - 18:31:13</span>
    </p>
  </div>
</body>
<script src="../../scripts/chat.js"></script>

</html>