extend ../layouts/layout

block vars 
  -title = 'My Profile'
  -bodyClass = 'profile'
  -Data = reqData 

block container 
  .container
    .information 
      .information-card 
        .information-card-header 
          img(src=`${Data.avatar_url}`, alt="Avatar")
        .line
        .information-card-content 
          span #{Data.full_name}
          h1 
      //- .information-upload-avatar 
        //- form(action="" method="method" id='imageForm' enctype="multipart/form-data")
        //-   input(type="file" id="fileInput" name="image")
        //-   button(type="submit" id="fileInput" name="image")
      ul.information-detail
        li(onclick='changeImages()').information-upload-images#upload_images Upload Images 
      
      ul.information-detail
        li(onclick='changeProfile()').information-detail-item.profile#profile Profile 
        li(onclick='changePassword()').information-detail-item#change_password Change Password
    .main-layout-card 
      #profile-pages
        h1 My Profile 
        include ../blocks/block_profile
      #change_password-pages
        include ../blocks/chage_password
block append scripts
  script(src="../../scripts/profile.js") 
  script(src="../../scripts/change_password.js") 

