.add-products
    .modal
        .modal-dashboard-product 
            .dashboard-modal
                .turnOff-dashboard-modal
                    i.fa-solid.fa-x#turnOffAddProduct
                .dashboard-sale-detail#sale-detail 
                    h3 Sales detail
                    img(src="../../images/Logo.png" alt="alt")
                    h2 Viet Nam POPS
                    .text-center 
                        small#created_at 23/11/2023
                        small Sales 
                        small Sales Receipt
                        small#created_by Sold By: John Doe
                        small#customer_name Customer: Customer
                    .table-detail 
                        table
                            tbody 
                                tr 
                                    th Product Name 
                                    th Quantity
                                    th Price 
                                .line
                                //- tr 
                                //-     td 1 
                                //-     td 1
                                //-     td 1
                                    
                            tfoot 
                                tr 
                                    td
                                        .line 
                                    td
                                        .line 
                                    td
                                        .line 
                                tr 
                                    td Total
                                    td 
                                    td#total 0.0 $