.line
form.form(action='/' method='method')
    .name 
        .form-group
            label(for='firstname') First name
            input.form-control(type='text' id='firstname' name='firstname' placeholder=`${Data.full_name}`)
            span.form-message
        //- .form-group
        //-     label(for='lastname') Last name
        //-     input.form-control(type='text' id='lastname' name='lastname' placeholder='Last name')
        //-     span.form-message
    .form-group
        label(for='email') Email
        input.form-control(type='email' id='email' name='email' placeholder=`${Data.email}`)
        span.form-message
    //- .date-gender
        //- .form-group   
        //-     label(for='date_of_birth') Birth
        //-     input.form-control(id='date_of_birth' type="date" name="date_of_birth", required pattern="\d{4}-\d{2}-\d{2}")
        //- .form-group
        //-     label(for='gender') Gender
        //-     select.form-control(id="gender" name="gender" placeholder='Gender' )
        //-         optgroup(label='Choose one')
        //-             option(value='male') Male
        //-             option(value='female') Female 
        //-             option(value='other') Other
    //- .form-group
    //-     label(for='') Change profile image
    //-     input.avatar-upload(type='file' accept='image/*')
    //-     span.form-message 
    button.button(type='submit' value='login') Save