h1 Change Password
.line
form.form.formChangePassword
    .form-group
        label(for='old_password')  Password
        input.form-control(type='password' id='old_password' name='old_password' placeholder='Password' required)
        span.form-message
    .form-group
        label(for='new_password') New password
        input.form-control(type='password' id='new_password' name='new_password' placeholder='New password' required)
        span.form-message
    .form-group
        label(for='confirm_password') Confirm password
        input.form-control(type='password' id='confirm_password' name='confirm_password' placeholder='Confirm password' required)
        span.form-message
    button.button()#submit_change_password Change Password