footer.footer
    .box 
        .box-column 
            h4 Help 
            a(href="/") Help Center 
            a(href="/") FAQs
            a(href="/") Privacy Policy
            a(href="/") Term
            a(href="/") Manager
        .box-column 
            h4 Company 
            a(href="/") About us
            a(href="/") Careers
            a(href="/") Press
            a(href="/") Blog
            a(href="/") PointsMAX
        .box-column 
            h4 Destination 
            a(href="/") Countries
            a(href="/") Cities
        .box-column 
            h4 Partner with us
            a(href="/") Partner Hub
            a(href="/") Affilate
            a(href="/") Connectactivity
            a(href="/") Advertise 
        .box-column 
            h4 Get app
            a(href="/") iOS app 
            a(href="/") Android app