//- link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap' rel='stylesheet')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
link(rel="stylesheet" href="../../css/style.css")
link(rel="icon", href="../../images/Logo-icon.png", type = "image/x-icon")

script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11") 
script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
script(src="https://cdn.jsdelivr.net/npm/table2excel@1.0.4/dist/table2excel.min.js") 
