//- .modal
//-     .modal-content
//-         h3 Sign In 
//-         p For security, please sign in to access your information
//-         form.form(action='/' method='method')#formLogin
//-             .form-group
//-                 label(for='username') User Name
//-                 input.form-control(type='text' id='username' name='username' placeholder='User Name')
//-                 span.form-message
//-             .form-group
//-                 label(for='password') Password
//-                 input.form-control(type='password' id='password' name='password' placeholder='Password' )
//-                 span.form-message
//-             .other
//-                 a.other-create(href='/register') Create account
//-                 .forgot 
//-                     i.other-forgot.fa-solid.fa-lock
//-                     a.other-forgot(href='/forgot') Forgot password?
//-             button.button(type='submit' value='login') Sign In