.sidebar 
    ul
        li 
            h2.sidebar__logo POPS
            img(src="" alt="") 
        li 
            .active__hover
                a(href="/dashboards") 
                    <i class="fa-solid fa-chart-column"></i>
                    span  Dashboard
        li 
            .active__hover 
                a(href="/sales") 
                    <i class="fa-regular fa-credit-card"></i> 
                    span Sales
        li 
            .active__hover 
                a(href="/products") 
                    <i class="fa-solid fa-shop"></i> 
                    span Products
        li 
            .active__hover 
                a(href="/contacts") 
                    <i class="fa-solid fa-id-card-clip"></i> 
                    span Staffs
        li 
            .active__hover 
                a(href="/customers") 
                    <i class="fa-solid fa-user-group"></i>
                    span Customers
        li 
            .active__hover 
                a(href="") 
                    <i class="fa-solid fa-filter"></i> 
                    span Report
        li 
            .active__hover 
                a(href="/setting") 
                    <i class="fa-solid fa-gears"></i> 
                    span Setting