.swiper.mySwiper
  .swiper-wrapper
    .swiper-slide 
      img(src="./images/bg01.jpg", alt="")
    .swiper-slide 
      img(src="./images/bg06.jpg", alt="")
    .swiper-slide 
      img(src="./images/bg02.jpg", alt="")
  .swiper-button-next
  .swiper-button-prev
  .swiper-pagination