extend views/layouts/layout-index

block vars
    -title = 'Store'
    -bodyClass = 'wrappper-index'
block container    
    include ./views/blocks/slider
    //- include ./views/blocks/3d_animation
    include ./views/blocks/login-index
